.subscribeButton{
    color:white;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding:10px;
    font-weight: bold;
}
.subscribeButton:hover{
    cursor: pointer;
}
.subscribed{
    background-color: rgb(240,240,240);
    color:black;
}
.cost{
    padding:10px;
    font-weight: bold;
}
.calculate{
    padding:10px;
    background-color: rgb(0, 128, 0);
    color:white;
    border:none;
    margin: 0 10px;
    font-weight: bold;
    cursor:pointer;
}
.calculate:active{
    background-color: rgb(1, 82, 1);
}
.inpcal{
    display: flex;
}